

.display {
    background-color: rgb(179, 127, 167);
    height: 550px;
    width: 500px;
    border-radius: 12px;
    margin-bottom: 15px;
}

.container {
    width: 40px;
    border-radius: 12px;
    margin: 30px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.btn {
    padding: 20px;
    border-radius: 8px;
    border: hidden;
    background-color: rgb(221, 18, 240);
    cursor: pointer;
}

.img {
    border-radius: 150px;
    margin: 20px;
}